body {
  align-items: center;
  align-content: center;

  background-size: auto;
}
.container {
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
			background-color: #333;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 1rem;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #555;
}
.text-center {
  text-align: center;
}

button i.fa {
  /* change the color of the icon */
  color: #fbf8f8;
  align-items: center;
}


#text-input {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  width: 400px;
}

.hidden {
  display: none;
}

#processing-msg {
  margin-top: 20px;
  font-size: 24px;
}

#answer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #3366cc;
}

#answer-box {
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  display: none; /* add this line */
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
  body {
background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
}
.description-container{
padding: 10px;
}
.description{
display: flex;
}
  #voice-input-btn {
    background-color: #171817;
    border: none;
    color: rgb(220, 120, 150);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  #answer-box {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
  }
  .agent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .agent{
    display: flex;
flex-direction: column;
align-items: center;
border: 7px solid whitesmoke;
margin-right: 4%;
  }
